div {
  backface-visibility: hidden;
}

.flipcard-container {
  max-width: 700px;
}

.flipcard {
  cursor: text;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.flipcard-back {
  transform: rotateY(180deg);
  position: absolute;
}

.flipped {
  transform: rotateY(180deg);
}
