.article-title {
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 600;
  color: #0723bc;
  line-height: 19px;
  margin-bottom: 5px;
}

.article-content {
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}
