.container-about {
  width: 100%;
  max-width: 700px;
  align-self: center;
  min-height: 100%;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.tr-footer {
  height: calc(37px + 25px);
  width: 100%;
  background: transparent;
}

.green {
  color: var(--green);
}

.container-about:after {
  content: '';
  padding-top: 37px;
}

.about-thingsido {
  display: grid;
  align-items: center;
  grid-template-columns: 170px 1fr 1fr;
  grid-template-areas: 'title line line' 'subtitle subtitle whatbtn'
    'icons icons icons' 'text text text' 'subtitle-wd subtitle-wd whatbtn-wd'
    'icons-wd icons-wd icons-wd' 'text-wd text-wd text-wd';
}

.about-title {
  grid-area: title;
  font-family: var(--font-primary);
  color: var(--red);
  text-align: left;
}

.about-line {
  grid-area: line;
  margin-left: 10px;
  margin-top: 3px;
}

.about-subtitle {
  grid-area: subtitle;
  font-family: var(--font-secondary);
  color: var(--green);
  margin: 10px 0 10px 0;
}

.about-what-btn {
  grid-area: whatbtn;
  font-family: var(--font-secondary);
  font-size: 14px;
  color: var(--gray);
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: flex-end;
}

.about-icons {
  grid-area: icons;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: var(--red);
}

.about-text {
  grid-area: text;
  margin: 5px 0 15px 0;
}

.subtitle-webdesign {
  grid-area: subtitle-wd;
  font-family: var(--font-secondary);
  color: var(--green);
  margin: 10px 0 10px 0;
}

.whatbtn-webdesign {
  grid-area: whatbtn-wd;
  font-family: var(--font-secondary);
  font-size: 14px;
  color: var(--gray);
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: flex-end;
}

.icons-webdesign {
  grid-area: icons-wd;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: var(--red);
}

.text-webdesign {
  grid-area: text-wd;
  font-family: var(--font-secondary);
}

.about-me {
  margin-top: 15px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr 1fr;
  grid-template-areas: 'title line line' 'pic pic pic' 'text text text';
}

.title-aboutme {
  grid-area: title;
  font-family: var(--font-primary);
  color: var(--red);
  display: flex;
  justify-content: flex-end;
  text-align: left;
}

.line-aboutme {
  grid-area: line;
  margin-left: 10px;
  margin-top: 3px;
}

.pic-aboutme {
  grid-area: pic;
  display: flex;
  justify-content: center;
}

.text-aboutme {
  margin-top: 20px;
  grid-area: text;
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 24px;
}

@media only screen and (min-width: 961px) {
  .about-thingsido {
    grid-template-areas: 'title line line' 'empty subtitle whatbtn'
      'icons text text' 'empty2 subtitle-wd whatbtn-wd'
      'icons-wd text-wd text-wd';
  }

  .about-me {
    grid-template-columns: 170px 1fr 1fr;
    grid-template-areas: 'title line line' 'empty pic pic' 'empty2 text text';
  }

  .about-title,
  .title-aboutme {
    text-align: right;
  }

  .about-icons,
  .icons-webdesign {
    flex-direction: column;
    align-items: flex-end;
  }

  .about-text,
  .text-webdesign,
  .text-aboutme {
    margin-left: 10px;
  }

  .about-subtitle,
  .subtitle-webdesign {
    margin-left: 10px;
  }

  .tr-footer {
    height: calc(25px);
  }
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/* .about-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.about-line {
  grid-column: 2/4;
  grid-row: 1/2;
}

.about-subtitle {
  grid-column: 2/3;
  grid-row: 2/3;
}

.about-what-btn {
  grid-column: 3/4;
  grid-row: 2/3;
}

.about-icons {
  grid-column: 1/2;
  grid-row: 3/4;
}

.about-text {
  grid-column: 2/4;
  grid-row: 3/4;
} */
