.container-home {
  flex: 1;
  display: flex;
  align-items: center;
}

.home-text {
  color: var(--black);
  font-family: var(--font-primary);
  font-size: 38px;
  line-height: 46px;
}

.home-subtext {
  font-family: var(--font-secondary);
  font-size: 14px;
  letter-spacing: 1.6px;
  line-height: 27px;
}

.text-area {
  margin-left: 25px;
}

.home-text-line {
  display: block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 290px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo-big {
  display: none;
}

@media only screen and (min-width: 769px) and (max-width: 960px) {
  .container-home {
    justify-content: center;
  }

  .logo-big {
    display: block;
    width: 40%;
    margin-right: 50px;
  }
}
