.blog-filter {
  margin-left: 20px !important;
  margin-top: 25px !important;
}

.blog-page-container {
  align-self: center;
  overflow: auto;
}

.blog-left {
  overflow-y: auto;
}

.vertical-line {
  display: none;
}

@media only screen and (min-width: 1041px) {
  .blog-page-container {
    display: flex;
    align-self: auto;
  }

  .blog-right {
    display: block;
    flex: 1;
  }

  .blog-left {
    flex: 1;
  }

  .vertical-line {
    display: block;
    width: 1px;
    height: calc(100vh - 70px);
    background: linear-gradient(0deg, #fd5872 0%, #07d3bc 100%);
  }
}
