.top-container {
  height: 106px;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.navbar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #fcfafe;
}

.navbar {
  flex: 1;
  background-color: #fcfafe;
}

.navitem-container {
  display: flex;
}

.socials-container-navbar {
  display: none;
}

.navmenu {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navmenu-sticky-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navline-sticky-mobile {
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
}

@media only screen and (min-width: 961px) {
  .top-container {
    display: flex;
    height: auto;
  }

  .top-main {
    display: flex;
  }

  .navbar {
    display: flex;
    padding-bottom: 0px;
  }

  .navbar-left {
    display: flex;
    flex: 5;
  }

  header {
    width: 100%;
    display: flex;
  }

  .navbar-right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navmenu {
    display: flex;
    align-items: center;
    flex: 1;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navmenu nav {
    width: 100%;
  }

  .navbar-logo {
    width: 140px;
  }

  .navitem-container {
    width: 100%;
    max-width: 685px;
    justify-content: center;
  }

  .socials-container-navbar {
    display: flex;
    margin-right: 20px;
  }

  .navbar-line {
    margin: 0;
  }

  .top-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
}
