.nav-item {
  display: block;
  color: var(--red);
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 15px;
  flex: 1;
  text-align: center;
  transition: all .2s ease-in-out;
}

a {
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:link {
  color: var(--red);
}

a:visited {
  color: var(--red);
}

a:hover {
  color: var(--green);
}

@media only screen and (min-width: 769px) and (max-width: 960px) {
  .nav-item {
    font-size: 18px;
  }
}

@media only screen and (min-width: 961px) {
  .nav-item {
    font-size: 24px;
  }
}
