.smooth-transition {
  transition: all 200ms linear;
}

.newblog-outer {
  flex: 1;
  display: flex;
  padding-bottom: 37px;
  overflow: hidden;
}
.filter-container {
  display: flex;
  width: 240px;
  height: 25px;
  border-bottom: 1px solid #7b7b7b;
}

.filter-input {
  border: none;
  width: 215px;
  background-color: #fcfafe;
  color: #7b7b7b;
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

.filter-input:focus {
  border: none;
  outline: none;
}

.filter-clear {
  width: 25px;
  height: 25px;
  cursor: auto;
  transition: all 0.15s linear;
}

.filter-clear:active {
  background: none;
}

.clear-cross {
  position: relative;
  top: 9px;
  width: 17px;
  border-bottom: 1px solid #7b7b7b;
  transform: rotate(45deg);
}

.clear-cross:last-of-type {
  top: 8px;
  transform: rotate(-45deg);
}

@media only screen and (min-width: 769px) {
  .filter-input {
    font-size: 22px;
  }

  .filter-container {
    height: 33px;
  }

  .filter-clear {
    position: relative;
    top: 7px;
  }
}

.newblog-container {
  flex: 1;
  flex-wrap: nowrap;
  overflow: auto;
  min-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.b-featured-img {
  display: flex;
  width: 100%;
  height: auto;
}

.last-box {
  margin-bottom: 500px;
}

.quote-decor {
  transition: all 200ms linear;
}

.newblog-left {
  display: none;
}

.blog-box {
  z-index: 1;
  flex-shrink: 0;
  width: 100%;
  background: #fd5872;
  color: #fcfafe;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.not-found {
  background: transparent;
  border: none;
  box-shadow: none;
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  font-size: 28px;
  color: #7b7b7b !important;
}

.blog-box-open {
  background-color: #fcfafe !important;
}

.b-date-open {
  color: #7b7b7b;
}

.b-title-open {
  color: #fd5872;
}

.b-tags-open {
  color: #7b7b7b;
}

.blog-main {
  color: #303030 !important;
  margin-bottom: 20px;
}

.b-x-open div {
  background-color: #fd5872;
}

.b-x-open div:first-of-type {
  transform: rotate(45deg);
}

.b-x-open div:last-of-type {
  transform: rotate(-45deg);
}

.b-featured-box {
  margin-bottom: 15px;
}

.img-caption {
  font-size: 11px;
  color: #7b7b7b;
  font-family: 'Raleway';
  font-style: italic;
  text-align: center;
  margin-top: 3px;
}

.blog-header {
  display: flex;
  flex-direction: column;
}

.blog-box-hover {
  background-color: #7b7b7b;
}

.style-none {
  list-style: none;
}

.b-date,
.b-tags {
  font-family: 'Raleway';
  font-size: 10px;
  margin-top: 5px;
}

.b-list {
  display: flex;
}

.b-list li {
  margin-right: 7px;
}

.b-title {
  font-family: 'PatuaOne-Regular';
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1.2px;
  font-weight: 100;
  margin-top: 5px;
}

.b-x {
  z-index: 99;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  align-self: flex-end;
  transition: transform 100ms linear;
}

.b-x:hover {
  transform: scale(1.1);
}

.x-1 {
  transform: rotate(90deg);
  top: 3px;
}

.x-2 {
  position: absolute;
  transform: rotate(0deg);
  top: -17px;
}

.xcross {
  background: #fcfafe;
  position: relative;
  right: -12px;
  height: 20px;
  width: 2px;
  transition: all 100ms linear;
}

.blog-main,
.b-featured-box {
  opacity: 0;
  height: 0;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all 100ms linear;
}

.blog-main-open,
.blog-featured-open {
  opacity: 1;
  height: auto;
}

@media only screen and (min-width: 600px) {
  .b-date,
  .b-tags {
    font-size: 12px;
  }

  .b-title {
    font-size: 22px;
    line-height: 28px;
  }

  .img-caption {
    font-size: 12px;
  }

  .b-featured-img {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media only screen and (min-width: 1080px) {
  .newblog-container {
    padding-right: 30px;
    padding-top: 30px;
    padding-left: 0;
    align-items: flex-end;
    flex: unset;
  }

  .blog-box {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .b-title {
    font-size: 28px;
  }

  .newblog-outer {
    justify-content: flex-end;
    padding-bottom: 0;
  }

  @-moz-document url-prefix() {
    .newblog-outer {
      justify-content: flex-end;
      padding-bottom: 25px;
    }
  }

  .b-date,
  .b-tags {
    font-size: 13px;
  }

  .newblog-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 30px;
    margin-right: 30px;
  }

  .page-decor {
    font-family: 'PatuaOne-Regular';
    font-size: 60px;
    text-align: right;
    position: relative;
    top: -10px;
    color: #fd5872;
  }

  .quote-decor {
    margin-left: 60px;
    flex: 1;
    font-size: 22px;
    display: flex;
    font-family: 'PatuaOne-Regular';
    color: #fd5872;
  }

  .quote-box {
    align-self: flex-end;
    margin-bottom: 60px;
    padding-left: 20px;
    border-left: 5px solid #fd5872;
  }

  .b-filter {
    display: flex;
    justify-content: flex-end;
  }

  .img-caption {
    margin-top: 5px;
    font-size: 13px;
  }

  .b-featured-img {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media only screen and (min-width: 1366px) {
  .blog-box {
    max-width: 800px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .quote-decor {
    margin-left: 70px;
    font-size: 30px;
  }

  .page-decor {
    font-size: 72px;
  }
}

@media only screen and (min-width: 1440px) {
  .quote-decor {
    margin-left: 70px;
    font-size: 36px;
  }

  .newblog-container {
    padding-right: 60px;
    padding-top: 60px;
  }

  .newblog-outer {
    max-width: 1600px;
    flex: 1;
    align-self: center;
  }

  .newblog-left {
    padding-top: 60px;
  }

  .page-decor {
    font-size: 72px;
  }

  .img-caption {
    margin-top: 5px;
    font-size: 13px;
  }

  .b-featured-img {
    padding-right: 40px;
    padding-left: 40px;
  }
}
