.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.socials-container-footer {
  display: flex;
}

@media only screen and (min-width: 961px) {
  .socials-container-footer {
    visibility: hidden;
  }
}
