.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding: 7px;
}

.socials-container-footer {
  display: flex;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (min-width: 961px) {
  .socials-container-footer {
    display: none;
  }

  .footer-line {
    display: none;
  }

  .footer-container {
    display: none;
  }
}
