/* Primary  */
@font-face {
  font-family: 'PatuaOne-Regular';
  src: url('./resources/fonts/Patua_One/PatuaOne-Regular.eot'); /* IE9 Compat Modes */
  src: url('./resources/fonts/Patua_One/PatuaOne-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./resources/fonts/Patua_One/PatuaOne-Regular.woff2') format('woff2'),
    url('./resources/fonts/Patua_One/PatuaOne-Regular.woff') format('woff'),
    url('./resources/fonts/Patua_One/PatuaOne-Regular.ttf') format('truetype'),
    url('./resources/fonts/Patua_One/PatuaOne-Regular.svg#svgFontName')
      format('svg'); /* Legacy iOS */
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url('./resources/fonts/Raleway/Raleway-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('./resources/fonts/Raleway/Raleway-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('./resources/fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
    url('./resources/fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
    url('./resources/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype'),
    url('./resources/fonts/Raleway/Raleway-SemiBold.svg#svgFontName')
      format('svg'); /* Legacy iOS */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./resources/fonts/Raleway/Raleway-Regular.eot'); /* IE9 Compat Modes */
  src: url('./resources/fonts/Raleway/Raleway-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./resources/fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
    url('./resources/fonts/Raleway/Raleway-Regular.woff') format('woff'),
    url('./resources/fonts/Raleway/Raleway-Regular.ttf') format('truetype'),
    url('./resources/fonts/Raleway/Raleway-Regular.svg#svgFontName')
      format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./resources/fonts/Raleway/Raleway-Light.eot');
  src: url('./resources/fonts/Raleway/Raleway-Light.eot?#iefix')
      format('embedded-opentype'),
    url('./resources/fonts/Raleway/Raleway-Light.woff2') format('woff2'),
    url('./resources/fonts/Raleway/Raleway-Light.woff') format('woff'),
    url('./resources/fonts/Raleway/Raleway-Light.ttf') format('truetype'),
    url('./resources/fonts/Raleway/Raleway-Light.svg#Raleway-Light')
      format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./resources/fonts/Raleway/Raleway-LightItalic.eot');
  src: url('./resources/fonts/Raleway/Raleway-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('./resources/fonts/Raleway/Raleway-LightItalic.woff2') format('woff2'),
    url('./resources/fonts/Raleway/Raleway-LightItalic.woff') format('woff'),
    url('./resources/fonts/Raleway/Raleway-LightItalic.ttf') format('truetype'),
    url('./resources/fonts/Raleway/Raleway-LightItalic.svg#Raleway-LightItalic')
      format('svg');
  font-weight: 300;
  font-style: italic;
}
