/* Global CSS Files, import global CSS Frameworks here   */
@import "fonts.css";
@import "~font-awesome/css/font-awesome.min.css";

:root {
  --green: #07d3bc;
  --red: #fd5872;
  --black: #303030;
  --white: #fcfafe;
  --font-primary: 'PatuaOne-Regular', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  --sizeh1: 6.854em;
  --sizeh2: 4.236em;
  --sizeh3: 2.618em;
  --sizeh4: 1.618em;
  --sizeh5: 1em;
  --sizeh6: 0.618em;
  --sizebody: 1.125em;
  --sizecaption: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

#root {
  flex: 1;
}

.centered {
  text-align: center;
}

.text-primary {
  color: var(--red);
}

.text-secondary {
  color: var(--green);
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line {
  height: 1px;
  background-image: linear-gradient(-90deg, #fd5872 0%, #07d3bc 100%);
}

@media only screen and (max-width: 961px) {
  .content-wrapper {
    margin-bottom: 37px;
  }
}
