/* Global CSS Files, import global CSS Frameworks here   */
@import 'fonts.css';

:root {
  --green: #07d3bc;
  --red: #fd5872;
  --black: #303030;
  --white: #fcfafe;
  --font-primary: 'PatuaOne-Regular', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  --sizeh1: 6.854em;
  --sizeh2: 4.236em;
  --sizeh3: 2.618em;
  --sizeh4: 1.618em;
  --sizeh5: 1em;
  --sizeh6: 0.618em;
  --sizebody: 1.125em;
  --sizecaption: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  position: relative;
  background-color: var(--white);
}

#root {
  height: 100vh;
}

.centered {
  text-align: center;
}

.text-primary {
  color: var(--red);
}

.text-secondary {
  color: var(--green);
}
